@model List<MATO.Models.Federation>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>                    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var federation in Model)
                {
                    i++;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@federation.Name</td>                       
                        <td>
                            <a class="btn btn-primary" role="button" asp-controller="Federation" asp-action="Edit" asp-route-id="@federation.Id">Edit</a>
                            <a class="btn btn-danger" role="button" asp-controller="Federation" asp-action="Delete" asp-route-id="@federation.Id">Delete</a>
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-3"><a class="btn btn-primary" role="button" asp-controller="Federation" asp-action="Add">Add</a></div>
        </div>
    </div>
</div>